/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */

  /* primary */
  --clr-very-dark-magenta: 300, 43%, 22%;
  --clr-soft-pink: 333, 80%, 67%;

  /* neutral */
  --clr-dark-grayish-magenta: 303, 10%, 53%;
  --clr-light-grayish-magenta: 300, 24%, 96%;
  --clr-white: 0, 0%, 100%;

  /* FONT FAMILY */
  --ff-league-spartan: 'League Spartan', sans-serif;

  /* FONT SIZE */
  --fs-default: 0.9375rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* BREAKPOINTS */
}

/**------------------- 
**    UTILITIES
--------------------*/

/**------------------- 
**     GENERAL
--------------------*/
body {
  font-family: var(--ff-league-spartan);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
}

.main {
  /* display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh; */
}

/**------------------------ 
** SECTION SOCIAL PROOFS
-------------------------*/
.section-social-proofs {
}

/**------------------- 
**   TEXT CONTENT
--------------------*/
.section-social-proofs > .content {
}

.content__title {
}

.content__text {
}

/**------------------- 
**     RATINGS
--------------------*/
.rating {
}

.rating__stars {
}

.rating__text {
}

/**------------------- 
**   TESTIMONIALS
--------------------*/
.testimonial {
}

.testimonial__user {
}

.testimonial__user-image {
}

.testimonial__user-image img {
}

.testimonial__user-information {
}

.testimonial__user-information:first-child {
}

.testimonial__user-information:last-child {
}

.testimonial__text {
}
