/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms \!important;
    animation-duration: 0.01ms \!important;
    -webkit-animation-iteration-count: 1 \!important;
    animation-iteration-count: 1 \!important;
    transition-duration: 0.01ms \!important;
    scroll-behavior: auto \!important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */

  /* primary */
  --clr-very-dark-magenta: 300, 43%, 22%;
  --clr-soft-pink: 333, 80%, 67%;

  /* neutral */
  --clr-dark-grayish-magenta: 303, 10%, 53%;
  --clr-light-grayish-magenta: 300, 24%, 96%;
  --clr-white: 0, 0%, 100%;

  /* FONT FAMILY */
  --ff-league-spartan: 'League Spartan', sans-serif;

  /* FONT SIZE */
  --fs-default: 0.9375rem;
  --fs-rating: 1.0625rem;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/**------------------- 
**    UTILITIES
--------------------*/
.mb--2 {
  margin-bottom: 2rem;
}

.mb--5 {
  margin-bottom: 5rem;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  background-image: url(../assets/images/bg-pattern-top-mobile.svg),
    url(../assets/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  font-family: var(--ff-league-spartan);
  font-size: var(--fs-default);
  font-weight: var(--fw-regular);
  min-height: 100vh;
}

.main {
  min-height: 100vh;
  margin: 2.5rem auto;
  max-width: 75rem;
  padding: 15px;
}

@media only screen and (min-width: 48em) {
  body {
    background-image: url(../assets/images/bg-pattern-top-desktop.svg),
      url(../assets/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
  }
}

/**------------------------ 
** SECTION SOCIAL PROOFS
-------------------------*/
.section-social-proofs {
}

.section-social-proofs > * {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 48em) {
  .section-social-proofs {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(2, 50%);
    align-items: center;
    row-gap: 5rem;
  }

  .section-social-proofs > * {
    margin-left: 0;
    margin-right: 0;
  }
}

/**------------------- 
**   TEXT CONTENT
--------------------*/
.section-social-proofs > .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 21.875rem;
}
@media only screen and (min-width: 48em) {
  .section-social-proofs > .content {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.content__title {
  color: hsl(var(--clr-very-dark-magenta));
  font-size: 2rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
  line-height: 1.875rem;
  text-align: center;
}

.content__text {
  color: hsl(var(--clr-dark-grayish-magenta));
  line-height: 20px;
  text-align: center;
}

@media only screen and (min-width: 48em) {
  .content__title {
    font-size: 3.25rem;
    line-height: 3rem;
    text-align: start;
  }

  .content__text {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    text-align: start;
  }
}

/**------------------- 
**     RATINGS
--------------------*/
.ratings-wrapper {
  max-width: 28.563rem;
}

@media only screen and (min-width: 48em) {
  .ratings-wrapper {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
}

.rating {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  background-color: hsl(var(--clr-light-grayish-magenta));
  border-radius: 10px;
  padding: 1rem;
}

.ratings-wrapper > .rating:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48em) {
  .rating {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
    gap: 1.5rem;
  }

  .ratings-wrapper > .rating:not(:last-child) {
    margin-bottom: auto;
  }

  .rating--1 {
  }

  .rating--2 {
    transform: translate(50px, 15px);
  }

  .rating--3 {
    transform: translate(100px, 30px);
  }
}

.rating__stars {
  display: flex;
  gap: 0.5rem;
}

.rating__text {
  color: hsl(var(--clr-very-dark-magenta));
  font-size: var(--fs-rating);
  font-weight: var(--fw-bold);
}

/**------------------- 
**   TESTIMONIALS
--------------------*/
.testimonials-wrapper {
  max-width: 28.563rem;
}

.testimonials-wrapper > * {
  margin-left: auto;
  margin-right: auto;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: hsl(var(--clr-very-dark-magenta));
  border-radius: 10px;
  padding: 2rem;
}

.testimonials-wrapper > .testimonial:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 48rem) {
  .testimonials-wrapper {
    grid-column: 1/-1;
    grid-row: 2/3;

    display: flex;
    flex-direction: row;

    max-width: 95%;
  }

  .testimonials-wrapper > .testimonial:not(:last-child) {
    margin-bottom: auto;
  }

  .testimonial--1 {
  }

  .testimonial--2 {
    transform: translate(1.25rem, 0.625rem);
  }

  .testimonial--3 {
    transform: translate(2.5rem, 1.25rem);
  }
}

.testimonial__user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial__user-image {
  border-radius: 50%;
  height: 4rem;
  overflow: hidden;
  width: 4rem;
}

.testimonial__user-information {
  display: flex;
  flex-direction: column;
}

.testimonial__user-information span:first-child {
  color: hsl(var(--clr-white));
  font-weight: var(--fw-bold);
}

.testimonial__user-information span:last-child {
  color: hsl(var(--clr-soft-pink), 70%);
  font-weight: var(--fw-medium);
}

.testimonial__text {
  color: hsl(var(--clr-white));
  line-height: 1.5625rem;
}
